
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
 
}
.welcome{
  text-align: center;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 10%;
  margin-top: 10%;
  }
  .welcome p{
    text-align: justify;
  }
  .welcome h1{
    font-size: 60px;
    font-weight: bolder;
  }
.product-cards{
  display: flex;
  flex-wrap: wrap;
width: 80%;
margin-left: 10%;
}
.send_message{
  background-color: rgb(7, 147, 218);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}


